.banner-bg{
    height: 500px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.72) 72%, rgba(0, 0, 0, 0.88) 88%), url(./assets/images/pb1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service1-bg{
    background-image: url(./assets/images/service1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service2-bg{
  background-image: url(./assets/images/service2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service3-bg{
  background-image: url(./assets/images/service3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.discount-bg{
  height: 500px;
  background: linear-gradient(480deg, rgba(20, 0, 78, 0.8) 0%, rgba(19, 19, 24, 0.50) 100%), url(./assets/images/discount.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}